<div class="container color" cols="2" rowHeight="20rem">
  <div class="center">
   <mat-list>
     <mat-list-item>Made by Stanislav Růžička</mat-list-item>
   </mat-list>
  </div>

  <div class="center">
    <mat-list>
      <mat-list-item>
        <a target="_blank" href="https://github.com/Codelessgame"><img alt="github" class="size" src="assets/icons/github.svg"></a>
      </mat-list-item>

      <mat-list-item>
        <a target="_blank" href="https://www.instagram.com/stanislav_ruza/profilecard/?igsh=enEzZHc2aGIxemk0">
          <img alt="instagram" class="size" src="assets/icons/instagram.svg">
        </a>
      </mat-list-item>
    </mat-list>
  </div>
</div>

