<div class="padding color"><form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Blog builder</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input formControlName="title" matInput placeholder="title">
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="full-width">
            <input type="date" matInput placeholder="data" formControlName="date">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input formControlName="content" matInput placeholder="content">
          </mat-form-field>
        </div>
        <div class="col">
              <input type="file" class="file-upload">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width" #tag>
            <input formControlName="tags" name="array[]" matInput placeholder="tags">
          </mat-form-field>
          <button (click)="createTag_input()" mat-raised-button> Add tag </button>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button  mat-raised-button [disabled]="addressForm.invalid" color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
</div>
