@for (tile of tiles; track tile.id) {
    <div *ngIf="tile.side=='left'" class=" color padding">
      <h2 class="cyan">{{ tile.title }}</h2>
      <div  class="smol-css-grid " >
          <mat-card>
            <img class="image" mat-card-image [src]="tile.image">
          </mat-card>
          <p>{{tile.text}}</p>
      </div>
    </div>

    <div *ngIf="tile.side=='right'" class=" color padding">
      <h2 class="cyan">{{ tile.title }}</h2>
      <div  class="smol-css-grid">
        <p>{{tile.text}}</p>
        <mat-card>
          <img class="image" mat-card-image [src]="tile.image">
        </mat-card>
      </div>
    </div>
}
