@for (tile of tiles; track tile) {
    <div *ngIf="tile.side=='left'" class=" color padding">
      <h2 class="cyan">{{ tile.title }}</h2>
      <div  class="smol-css-grid " >
          <img class="image" mat-card-image [src]="tile.image">
          <p>{{tile.text}}</p>
      </div>
    </div>

    <div *ngIf="tile.side=='left'" class=" color padding">
      <h2 class="cyan">{{ tile.title }}</h2>
      <div  class="smol-css-grid " >
        <p>{{tile.text}}</p>
        <img class="image " mat-card-image [src]="tile.image">
      </div>
    </div>
}
