.smol-css-grid {
  --min: 25ch;
  --gap: 1rem;

  display: grid;
  justify-items: center;
  text-align: justify-all;
  grid-gap: var(--gap);
  /* min() with 100% prevents overflow
  in extra narrow spaces */
  grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
}

h2{
  text-align: center;
}

