<div class="container color padding">

  <mat-card appearance="outlined">
    <div class="screen-overlay"> </div>
      <mat-card-title >{{name}}CODE</mat-card-title>
      <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQITZOKvHwIUFq9f5Rm1YzlG3OegYM3YFLlVA&s" alt="{{name}} image">

  </mat-card >

  <mat-card appearance="outlined">
    <mat-card-title>{{name}}CODE</mat-card-title>
    <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQITZOKvHwIUFq9f5Rm1YzlG3OegYM3YFLlVA&s" alt="{{name}} image">
  </mat-card>


  <mat-card appearance="outlined">
  <mat-card-title>{{name}}CODE</mat-card-title>
  <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQITZOKvHwIUFq9f5Rm1YzlG3OegYM3YFLlVA&s" alt="{{name}} image">
  </mat-card>
</div>

