/* Card Styling */
mat-card {
  overflow: hidden;
  aspect-ratio: 10 / 12;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.card:hover mat-card {
  transform: scale(1.02);
  box-shadow: 0 4px 20px rgba(0, 255, 255, 0.4);
}

//not in use
@-webkit-keyframes wiggle {
  0% { transform: skewX(24deg); }
  10% { transform: skewX(-8deg); }
  20% { transform: skewX(45deg); }
  30% { transform: skewX(-30deg); }
  40% { transform: skewX(29deg); }
  60% { transform: skewX(3deg); }
  70% { transform: skewX(-2deg); }
  80% { transform: skewX(1deg); }
  90% { transform: skewX(10deg); }
  100% { transform: skewX(0deg); }
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }
  33% {
    transform: translate(-3px, 3px);
  }
  66% {
    transform: translate(3px, -3px);
  }
  100% {
    transform: translate(0);
  }
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s, opacity 0.3s;
}

/* Hover Effect */
.card:hover {
  animation: glitch 0.08s 2;

}

.tittle {
  position: absolute;
  justify-self: center;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for element's size */
  padding: 5px 15px; /* Add padding for better spacing */
  background: linear-gradient(90deg, var(--cyan), var(--light-cyan)); /* Gradient background */
  color: #1a1a1a; /* Text color contrasting the background */
  border-radius: 8px; /* Rounded corners */
  z-index: 6; /* Ensure it stays above other layers */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions */
}

/* Hover effect */
.card:hover .tittle {
  display: none;
}
