.container {

  --min: 30ch;
  --gap: 2rem;

  display: grid;
  grid-gap: var(--gap);
  /* min() with 100% prevents overflow
  in extra narrow spaces */
  grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
}

mat-card{
  overflow: hidden;
  aspect-ratio: 10 / 12;
}

@keyframes pan-overlay {
  from {
    background-position: 0% 0%;
  }

  to {
    background-position: 0% -100%;
  }
}

mat-card-title{
  align-self: center;
  position: relative;
  top: 50%;
  z-index: 1;
  color: aliceblue;
}
