
/* Flex Container */
.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem; /* Adds space between elements */
}

.chips-wrapper {
  display: flex;
  flex-wrap: wrap; /* Ensures chips wrap instead of overflowing */
  gap: 0.5rem; /* Space between chips */
  max-width: 100%;
}

.image{
  aspect-ratio: 13/11 ;
  padding: 7px 5pt;
}

/* Responsive Adjustments */
@media (max-width: 600px) {
  .chips-wrapper {
    justify-content: center; /* Center-align chips on smaller screens */
  }
}


