<div  class=" padding color" *ngIf="selection$ | async; let selection">
<!--  filtering shown what you are filtering-->
  <div *ngIf="selection.length > 0" class="flex">
    <h1 class="cyan">Sorted by: </h1>
    <div class="chips-wrapper">
      <div *ngFor="let tag of selection" (click)="toggleTagged(tag)">
        <mat-chip (removed)="toggleTagged(tag)">
          {{ tag }}
        </mat-chip>
      </div>
    </div>
  </div>

<!--  this is the blog cars listing, from here filter event called-->
  <div *ngIf=" posts$ | async; let post" class="container">
        <mat-card *ngFor="let postData of posts$ | async" appearance="outlined">
          <mat-card-header>
            <mat-card-title ><a href="/" class="cyan">{{ postData.title }}</a></mat-card-title>
          </mat-card-header>
           <img mat-card-image class="image" src="{{postData.image}}" alt="{{postData.title}}">
          <mat-card-content>
            <mat-chip-set >
              @for (tag of postData.tags; track tag) {
                <mat-chip  (click)="toggleTagged( tag)">{{tag}}</mat-chip>
              }
            </mat-chip-set>
            {{postData.content}}
          </mat-card-content>
        </mat-card>
  </div>
</div>
