<mat-grid-list cols="4" class="container">
  <mat-grid-tile *ngFor="let cardData of posts; index as i; first as isFirst">
  <mat-card   class="example-card" appearance="outlined" >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title class="cyan-text">{{ cardData.title }}</mat-card-title>
      <mat-card-subtitle class="border">{{ cardData.subtitle }}</mat-card-subtitle>
    </mat-card-header>

      <img mat-card-image src="./{{cardData.image}}">

    <mat-chip-set   class="card-footer cyan-text">
      <mat-chip *ngFor="let tag of cardData.tags">{{tag}}</mat-chip>
    </mat-chip-set>

    <mat-card-content>
      <p class="white-text">
        {{cardData.content}}
      </p>
    </mat-card-content>
  </mat-card>
  </mat-grid-tile>
</mat-grid-list>
