.container {

    --min: 30ch;
    --gap: 2rem;

    display: grid;
    grid-gap: var(--gap);
    /* min() with 100% prevents overflow
    in extra narrow spaces */
    grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
}

.sort{
  padding:1em 0 ;

}

/* Flex Container */
.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem; /* Adds space between elements */
}

/* Chips Container */
.chips-container {
  max-width: 100%;
  overflow: hidden;
}

.chips-wrapper {
  display: flex;
  flex-wrap: wrap; /* Ensures chips wrap instead of overflowing */
  gap: 0.5rem; /* Space between chips */
  max-width: 100%;
}

.chip-wrapper {
  flex: 0 1 auto; /* Allows flexibility for wrapping */
  display: flex;
}

/* Mat Chip Styling */
.chip {
  padding: 0.5vh;
  display: inline-flex;
}


.chip[removed] {
  text-decoration: line-through;
  opacity: 0.6;
}

/* Responsive Adjustments */
@media (max-width: 600px) {
  .chips-wrapper {
    justify-content: center; /* Center-align chips on smaller screens */
  }

  .chip {
    font-size: 0.75rem; /* Smaller chips for small screens */
  }
}

.image{
  aspect-ratio: 13/11 ;
  padding: 7px 0;

}
