@use '@angular/material' as mat;

$theme: mat.define-theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
    )
);

:root{
  //should be done through angular material
  --cyan: #1bc198;
  --light-cyan: rgb(98, 202, 185);
}


.cyan{
  color: var(--cyan);
  font-family: "monospace", sans-serif;
}

.color{
  background: var(--mat-app-background-color);


}

.padding{
  padding: 2em 10vw;
}


html, body {
  height: 100%;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;

  @include mat.all-component-themes($theme);
}


@include mat.core();
@include mat.color-variants-backwards-compatibility($theme);


//:root {
//
//--dark: #1e1f26;
//--grayish: rgba(64, 65, 60, 0.77);
//--text-on-dark: #ffffff;
//--color-cyan: rgba(3, 218, 198, 0.76);
//--color-line: rgba(87, 108, 108, 0.02);
//--white:  #e0e3e2
//
//
//}
//
//.shadow {
//  //box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
//}
//
//.white-text{
//  color: var(--white);
//}
//
//
//.dark-background{
//  background:var(--dark) ;
//
//
//}
//
//.cyan-text {
//  color: var(--color-cyan);
//}
//
//.cyan-color{
//  background: var(--color-cyan);
//}
//
//a {
//  text-decoration: none;
//  color: var(--color-cyan);
//
//}
//
//body {
//  margin: 0;
//  font-size: x-large;
//  font-family: "monospace", sans-serif;
//  place-items: center;
//}
//
//.margin {
//  padding: 5vh 10vw;
//}
//
//.warning {
//  display: flex;
//  color: red;
//}
//
//@media screen and (max-width: 1000px) {
//  .margin {
//    padding: 2vh 5vw;
//  }
//}
