@use '@angular/material' as mat;

$theme: mat.define-theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
    )
);

.container {

  --min: 30ch;
  --gap: 2rem;

  display: grid;
  grid-gap: var(--gap);
  /* min() with 100% prevents overflow
  in extra narrow spaces */
  grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
}

.center{
  justify-self: center;
  justify-content: center;

}


:root{
  //should be done through angular material
  --cyan: #1bc198;
  --light-cyan: rgb(98, 202, 185);
  --star-color: rgba(197, 54, 193, 0.69);
}


.cyan{
  color: var(--cyan);
  font-family: "monospace", sans-serif;
}

.color{
  background: var(--mat-app-background-color);
}

.padding{
  padding: 2em 10vw;
}


html, body {
  height: 100%;
  max-width: 100vw;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
  @include mat.all-component-themes($theme);
}


@include mat.core();
@include mat.color-variants-backwards-compatibility($theme);
